/*reset*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #009588;
}
.containerApp{
    background-color: aliceblue;
    width: 80%;
    height: 100vh;
    margin: 20px auto;
    display: flex;
}
.list{
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid black;
}
.message{
    width: 60%;
    height: 100%;
    background-color: blue;
    border: 1px solid black;
}
.head{
    width: 100%;
    height: 80px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notice{
    background-color: #8edafb;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.input{
    background-color: #f6f6f6;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.bodyMessage{
    height: calc(100% - 150px);
    width: 100%;
    overflow-y: scroll;
    background-image:url(img/mine.jpg);
}
.inputMessaege{
    background-color: #f3eeea;
    width: 100%;
    height: 70px;
}
.input input{
    width: 95%;
}
img{
    border-radius: 50%;
    width: 60px;
    margin-right: 5px;
}
.profilePic{
    display: flex;
    align-items: center;
}
i{
    color: #bbbbbb;
}
.circle{
    background-color: white;
    border-radius: 50%;
    padding: 20px 15px;
}
.circle i{
    color:#8edafb ;
}
a{
    color: #bbbbbb;
}
ul{
    list-style: none;
}
li{
    display: flex;
    align-items: flex-start;
    padding: 5px 0;
}