<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Collegamento per l'inserimento orario corrente-->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!--Collegamento per l'inserimento delle icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Collegamento per l'inserimento di Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--Collegamento per l'inserimento del css-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--Inizializzazione di Vue-->
    <div id="root">
        <!--Creo il container per l'app-->
    <div class="containerApp">
        <!--Divido in due colonne-->
        <!--Collonna sx-->
        <div class="list">
            <div class="head">
                <!--Sezione utente info-->
                <div class="profilePic">
                    <img src="css/img/avatar_io.jpg" alt="">
                    <span>Nome utente</span>
                </div>
                <!--Sezione funzionalità icon-->
                <div>
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
             <!--Sezione notifiche-->
            <div class="notice"> 
                <span class="circle">
                    <i class="fa-solid fa-bell-slash fa-xl"></i>
                </span>
                <div>
                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                    <span><a href="#">Attiva notifiche desktop</a></span>
                </div>
            </div>
             <!--Sezione inserimento testo-->
            <div class="input">
                <div class="inputPlus">
                    <span>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <!--Imposto l'azione della funzione per filtrare la ricerca
                        successivame imposto la variabile connessa-->
                    <input 
                          @keyup="filterNameContacts"
                          v-model="userContactsName"
                          type="text" 
                          placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>
             <!--Sezione lista contatti-->
            <div class="listContact">
                <ul>
                     <!-- Imposto il ciclo for per scorrere e stampare gli elementi dell'array-->
                     <!-- Imposto la visibilità del contatto-->
                     <!-- Imposto l'azione al click che rende l'elemento attualmente attivo-->
                    <li v-for="contact,index in contacts " 
                        v-if="contact.visible"
                        @click="sameElement(index)" 
                        :class="{'active' : index === currentActiveElement}"> 
                        <img :src="contact.avatar" alt=""> 
                        {{ contact.name}}
                    </li>
                </ul>
            </div>
        </div>
        <!--Collonna dx-->
        <div class="message">
             <!--Sezione utente info-attivo-->
            <div class="head">
                <div class="profilePic">
                    <img :src="contacts[currentActiveElement].avatar" alt="">
                    <div>
                        <h4>{{contacts[currentActiveElement].name}}</h4>
                        <span>Ultimo accesso oggi alle {{access}}</span>
                    </div>
                </div>
                <!--Sezione funzionalità icon-->
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!--Sezione visualizzazione messaggi-->
            <div class="bodyMessage">
                <!--Imposto il ciclo for-->
                <!--Struttura:(elemento-indice) che sono presenti all'interno di messages(array) 
                    presente a sua volta all'interno di contacts, per arrivare a messages scorriamo l'array con l'indice
                    per poi fermarci su quello correntemente attivo-->
                <!--Imposto classi attive in funzione dello status-->
                <div v-for="(message, index) in contacts[currentActiveElement].messages">
                    <div :class="{'send': message.status === 'sent', 'get': message.status === 'received' }"> 
                        <span >
                            <h4>{{message.text}}</h4>
                            <h6>{{message.date}}</h6>
                        </span>
                    </div>
                </div>
            </div>
            <!--Sezione inserimento testo del messaggio -->
            <!--Invio del messagio tremite il tasto enter-->
            <div class="inputMessaege">
                <i class="fa-regular fa-face-smile"></i>
                <!--Per colloegare la funzione per l'inserimento del nuovo messaggio
                    utilizzo v-model-->
                <input type="text" @keyup.enter="addNewMessage()" 
                       v-model="newMessage"  
                       placeholder="Scrivi un messaggio">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </div>
    </div>
    </div>
    <!--Collegamento per l'inserimento di js-->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>